# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
/.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
nbactions.xml
nb-configuration.xml

### IDEs and editors ###
.settings/
.c9/
*.launch
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# compiled utput
/dist
/tmp
/out-tsc

# dependencies
/node_modules
/src/main/webapp/angular/node_modules

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings
*.swp
release.properties
pom.xml.releaseBackup
pom.xml.tag

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db
/bin/
/target/

# Maven
log/
target/

## Dependencias curso
/src/main/webapp/curso-angular5/03-componentes-y-plantillas/02-crear-un-componente/node_modules/
/src/main/webapp/curso-angular5/03-componentes-y-plantillas/03-multiples-componentes/node_modules/
/src/main/webapp/curso-angular5/04-typescript/01-propiedades-tipos-datos/node_modules/
/src/main/webapp/curso-angular5/04-typescript/02-crear-clases/node_modules/
/src/main/webapp/curso-angular5/05-Directivas-binding-eventos/02-ngif-click/node_modules/
/src/main/webapp/curso-angular5/05-Directivas-binding-eventos/03-ngFor/node_modules/
/src/main/webapp/curso-angular5/05-Directivas-binding-eventos/04-ngSwitch-ngStyle/node_modules/
/src/main/webapp/curso-angular5/05-Directivas-binding-eventos/05-Two-data-binding/node_modules/
/src/main/webapp/curso-angular5/05-Directivas-binding-eventos/06-ngStyle/node_modules/
/src/main/webapp/curso-angular5/05-Directivas-binding-eventos/07-ngClass/node_modules/
/src/main/webapp/curso-angular5/05-Directivas-binding-eventos/08-directiva-ngClass/node_modules/
/src/main/webapp/curso-angular5/06-Routing-navegacion/01-configurar-routing/node_modules/
/src/main/webapp/curso-angular5/06-Routing-navegacion/02-menu-navegacion/node_modules/
/src/main/webapp/curso-angular5/06-Routing-navegacion/03-marcar-elemento-menu/node_modules/
/src/main/webapp/curso-angular5/06-Routing-navegacion/04-rutas-parametros-url/node_modules/
/src/main/webapp/curso-angular5/06-Routing-navegacion/05-redirecciones-router/node_modules/
/src/main/webapp/curso-angular5/07-Servicios/01-crear-utilizar-servicio/node_modules/
/src/main/webapp/curso-angular5/07-Servicios/02-ejercicio-servicios/node_modules/
/src/main/webapp/curso-angular5/08-Pipes/02-pipes-default/node_modules/
/src/main/webapp/curso-angular5/08-Pipes/03-pipes-personalizadas/node_modules/
/src/main/webapp/curso-angular5/09-formularios/02-crear-formularios/node_modules/
/src/main/webapp/curso-angular5/09-formularios/03-ejercicio-fomularios/node_modules/
/src/main/webapp/curso-angular5/10-servicios-http-ajax/01-crear-servicio-http/node_modules/